body {
  padding: 0 !important;
  margin: 0 !important;
}

.main {
  background:
    linear-gradient(to bottom, transparent 0%, transparent 83%, white 83%, white 100%),
    linear-gradient(to right, #dacaff, #f2eeff);
}

.nav-box {
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08);
    flex-shrink: 0;
}

/* .side-nav {
  background-color: rgb(8, 27, 103);
} */

.LMS {
  color: #7830ff;
}

.home-title {
  color: #7830ff;
}

.home-subtitle {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 2rem;
  margin-top: 1rem;
  margin-bottom: 1.7rem;
}

.main-btn {
  background-color: #7830ff;
  color: white;
}

.view-btn {
  border: 2px solid #7830ff;
  color: #7830ff;
  background-color: transparent;
}

.modal-title {
  color: #955cff;
}

.main-btn:hover,
.main-btn:active {
  background-color: #6828df !important;
  color: white !important;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.sub-btn {
  border: 1px solid;
}

.sub-btn:hover {
  border: 1px solid;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.nav-link {
  text-decoration: none;
}

.text-decoration-none {
  color: #6a00ff;
}

.hero-btn{
  transition: transform 0.5s ease;
}

.hero-btn:hover {
  transform: scale(1.05);
}

.register,
.reset {
  height: 100vh;
  background:  linear-gradient(to right, #dacaff, #f2eeff);
}

.hero img {
  animation: fadeIn 1s ease-out forwards;
  opacity: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero .box {
  animation: fadeFromX 1s ease-out forwards;
  opacity: 0;
}

@keyframes fadeFromX {

  0% {
    opacity: 0;
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.after-hero .div-box {
  border: 1px solid rgb(241, 241, 241);
  height: 11rem;
  background-color: white;
  box-shadow: 0 20px 40px rgb(0, 0, 0, 0.08);
  animation: fadeIn 1s ease-out forwards;
  opacity: 0;
  animation-delay: 1.5s;
}

.last-box {
  animation: fadeIn 1s ease-out forwards;
  opacity: 0;
  animation-delay: 1.5s;
}

.new-box .big-box{
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.311) !important;
}

.active {
  display: block !important;
}

.link {
  cursor: pointer;
}

.card-box .card:hover .text {
  transform: scale(1.3);
  margin-bottom: 15px;
  transition: all 0.2s ease-in-out;
}


.modal-bg {
  background-color: rgb(0, 0, 0, 0.6) !important;
  height: 100vh !important;
}

.reset > div,
.register > div {
  height: 25rem;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 20px 40px rgb(0, 0, 0, 0.08);
  animation: fadeIn 1s ease-out forwards;
  opacity: 0;
}

@keyframes modalFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-30px) scale(0.95);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.modal-fade-in {
  animation: modalFadeIn 0.4s ease-out forwards;
}

.modal-icon {
  font-size: 45px;
  color: white;
  animation: popIn 0.4s ease-out;

}

.modal-icon-box {
  background-color: #955cff;
  border-radius: 50%;
  padding: 1rem;
  margin: 0.7rem 0;
}

@keyframes popIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }

  80% {
    transform: scale(1.1);
    opacity: 1;
  }

  100% {
    transform: scale(1);
  }
}


.submit-btn:disabled {
  opacity: 0.7;
  cursor: not-allowed;
  background-color: #7830ff;
  color: white;
}

.spinner {
  width: 15px;
  height: 15px;
  border: 3px solid white;
  border-top: 3px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.input-group {
  position: relative;
}

.input-group input {
  width: 100%;
  padding: 14px 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  background: none;
}

.input-group label {
  position: absolute;
  top: 10px;
  left: 12px;
  background-color: #fff;
  color: #aaa;
  transition: 0.3s ease;
  pointer-events: none;
  padding: 0 4px;
}

.input-group input:focus+label,
.input-group input:not(:placeholder-shown)+label {
  top: -8px;
  left: 10px;
  font-size: 12px;
  color: black;
}

.pass-icon {
  position: absolute;
  top: 20%;
  right: 15px;
  color: #6c757d;
  transform: transelateY(-50%);
  cursor: pointer;
  font-size: 1.1rem;
  user-select: none;
}

.register .img-box{
  overflow: hidden;
  position: relative;
  border-bottom-right-radius: 30%;
}

.reset .img-box{
  background-color: #ad81ff;
}

.register .img-box::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #7d5cffb5;
}

.review-section{
  margin-bottom: 6rem !important;
  background-color: #eef2f6;
  padding: 3rem 0;
}

.review-card{
  background-color: white;
  box-shadow: 0 20px 40px rgb(0, 0, 0, 0.08);
  transition: transform 0.5s ease;
}

.review-card:hover{
  transform: scale(1.05);
}

.verify-badge{
  background-color: #7830ff;
  color: white;
}

.footer-text{
  line-height: 2rem;
  margin-top: 1rem;
}